<%- include("../partials/header.ejs") %>

<form class="add-product" action="<% if(edit){%> <%="/Admin/editProduct"  %> <%}else {%> <%="/Admin/addProduct"%><% } %>"  method="post">
  <div class="form-item">
  <label>Title</label>
  <input type="text" name="title" value="<% if(edit){%><%=product.title %><%}%>"/>
  </div>
  <div class="form-item">
  <label>Image Url</label>
  <input type="text" name="imageUrl"  value="<% if(edit){%><%= product.imageUrl %><%}%>"/>
  </div>
  <div class="form-item">
  <label>Price</label>
  <input type="text" name="price"  value="<% if(edit){%><%= product.price %><%}%>"/>
  </div>
  <div class="form-item">
  <label>Description</label>
  <textarea name="description"  cols="30" rows="10"><% if(edit){%><%= product.description %><%}%></textarea>
  </div>
  <input name="id" type="hidden" value="<% if(edit){%><%=product.id %><%}%>"/>
  
  <button class="btn"><% if(edit){%> <%= "Edit Product" %> <%}else {%> <%= "Add Product" %> <% } %> </button>
</form>

<%- include("../partials/end.ejs") %>
