<%- include("../partials/header.ejs") %>
<main>
    <% if(products){ %>
        <% products.forEach((prod)=>{ %>
        <h1><%= prod.title%>(<%=prod.cartItem.quantity%>)</h1>
        <form action="/deletFromCart" method="post">
            <input type="hidden" name="id" value="<%= prod.id%>">
            <input type="hidden" name="price" value="<%= prod.price%>">
            <button type="submit" class="btn">delete</button>
        </form>
        <%  }) %>
        <form action="/post-order" method="post">
        <button type="submit" class="btn" style="margin-top: 20px;">CheckOut</button>
        </form>
     <% }else{ %>
    <h1>No products in cart</h1>
     <% } %>
</main>

<%- include("../partials/end.ejs") %>