<%- include("../partials/header.ejs") %>

<div class="books-container">
  <% products.forEach(item=>{ %>
     <div class="book">
        <h2><%= item.title %></h2>
        <img src="<%= item.imageUrl  %>" alt="">
        <p class="price">$<%= item.price %></p>
        <p class="description"> <%= item.description %></p>
      <div class="btns-container">
        <a href="/products/<%= item.id %>" class="btn">view <% item.id %></a>  
            <form action="/cart" method="post">
                <button class="btn">Add To Cart</button>  
                <input type="hidden" name="productId" value="<%= item.id %>">
            </form>     
       </div>   
        
    </div>

  <%  }) %>

    

</div>


<%- include("../partials/end.ejs") %>
